@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
  background-color: #f7fafd;
}

.residents .header {
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  padding-top: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}

.residents .header img {
  width: 20px;
  height: 20px;
}

.residents .box {
  margin: 0 20px;
}

.residents .box h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.residents .box ul {
  background-color: #fff;
}

.residents .box ul li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  line-height: 45px;
  background-color: #fff;
}

.residents .box ul li input {
  padding-left: 20px;
  border: 0;
  font-size: 16px;
  color: #ecdfdf;
}

.residents .box ul li img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  float: right;
}

.residents .box ul .xjd {
  margin-bottom: 20px;
  border: 0;
}
